/* font-family: 'Courgette', cursive;
font-family: 'Montserrat', sans-serif;
font-family: 'Raleway', sans-serif; 
logo background: #fde7e9;
text-color: #4d2a6d;
*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} 

:root{
    --primary-clr: #1D5C63;
    --light-clr: white;
    --dark-clr: #1A3C40;

    --fs-900: clamp(3rem, 4vw, 7rem);
    --fs-700: clamp(3rem, 3vw, 4rem);
    --fs-500: clamp(1.9rem, 2vw, 3rem);
    --fs-400: clamp(1.3rem, 1.3rem, 4rem);

    --ff-italic: "Sansita Swashed", cursive;
}

html{
    scroll-behavior: smooth;
    scroll-padding: 100px;
}

body{
    font-family: "Montserrat", sans-serif;
}

header{
    position: sticky;
    top: 0;
}
.nav-links, .brand{
    color: var(--light-clr);
    text-decoration: none;
}

.navbar{
    min-height: clamp(70px, 70px, 80px);
    background-color: #1D5C63;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 7%;
}

.nav-menu{
    display:flex;
    justify-content: space-between;
    gap: 1rem;
}

.nav-items{
    list-style: none;
}

.brand{
    font-size: var(--fs-700);
    font-weight: bolder;
    font-family: "Sansita Swashed", cursive;
}

.nav-links{
    font-size: var(--fs-400);
    transition: all 0.3 linear;
    position: relative;
}

.nav-links::after{
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: -5px;
    height: 2px;
    width: 0;
    background-color: var(--dark-clr);
    transition: width 0.3s linear;
}

.nav-links:hover::after{
    width: 100%;
}

.hamburger{
    display: none;
    cursor: pointer;
}
.bar{
    display:block;
    width:25px;
    height: 5px;
    margin-bottom: 3px;
    background-color: var(--light-clr);
    border-radius: 2px;
    transition: all 0.3s;
}


/* Main Content */
/* Landing page */

.big-heading{
    font-size: var(--fs-900);
    color: var(--primary-clr);
    font-weight: 700;
    line-height: 1.6;
}


.name-heading{
    color: var(--dark-clr);
    margin-bottom: 2% 0;
    font-family: "Sansita Swashed", cursive;
}

.name{
    font-family: "Sansita Swashed", cursive;
}
.landing, #about{
    padding: 2% 7%;
    margin-top: 2%;
    
}

.bouncing-arrow{
    width: 100%;
    margin: 4rem 0;
    text-align: center;

}
.arrow-down{
   color: var(--primary-clr);
}


/* About */
.small-heading{
    font-size: var(--fs-700);
    color: var(--dark-clr);
    font-family: var(--ff-italic);
    margin-bottom: 2rem;
}

.about-content{
    color: var(--primary-clr);
    font-size: var(--fs-500);
}

.about-container{
    display: flex;
    gap: 2rem;
}


.bitmoji{
    width: 300px;
    height: 360px;
}

.resume{
    text-decoration: none;
    padding: 0.8rem 3rem;
    border: 2px solid var(--dark-clr);
    border-radius: 10px;
    background: var(--primary-clr);
    color: var(--light-clr);
    font-size: var(--fs-400);
    margin-top: 2rem;
}



/* Skills */
.skills-image{
    width: 40%;
    height: 70%;
}
@media screen and (max-width:768px) {
    /* :root{
        --fs-900:3rem;
        --fs-700: 2.5rem;
        --fs-400: 1.8rem;
    } */
    .hamburger{
        display: block;
    }
    .nav-menu{
        position: fixed;
        left: -100%;
        background-color: var(--primary-clr);
        top: 69px;
        flex-direction: column;
        gap:1rem;
        width: 100%;
        text-align: center;
        transition: 0.5s cubic-bezier(0.4, 0, 0.41, 1.35);
    }
    .nav-links{
        font-size: 1.5rem;
    }

    .nav-menu.active{
        left: 0;
    }
    .hamburger.active .bar:nth-child(2){
        position: relative;
        right: -2px;
    }
    .hamburger.active .bar:nth-child(1){
        transform: translateY(18px) rotate(45deg);
    }
    .hamburger.active .bar:nth-child(3){
        transform: translateY(-18px) rotate(-45deg);
    }


    .about-container{
        flex-wrap: wrap-reverse;
    }

}
